In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from models import *

## Prova di gioco

Creo un'istanza della classe *game* passando al costruttore i parametri *player*, ovvero, il giocatore di nome 'Test player' e imposto la partita con 5 quiz.

In [3]:
game = Game(player=Player(name='Test player'), quiz_number=5)

d:\Master\Workspace\Python\cinequiz\models.py:172: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  self.title_basics = pd.read_csv(constant.TITLE_BASICS, sep='\t')

Il metodo *run* gestisce tutte le iterazioni dell'utente con il sistema permettendogli di impostare il livello di difficoltà delle domande, visualizzare il quiz e inviare la risposta

In [ ]:
game.run()

## Generazione dei quiz

In [4]:
qg = QuizGenerator()

d:\Master\Workspace\Python\cinequiz\models.py:172: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  self.title_basics = pd.read_csv(constant.TITLE_BASICS, sep='\t')

In [5]:
quiz = qg._number_episodes(difficulty='EASY')
quiz.question, quiz.answers

("Da quanti episodi è composta la serie tv '30 grados a la sombra'?",
 {'4': ('12', True), '1': ('1', False), '2': ('2', False), '3': ('5', False)})

In [6]:
quiz.get_solution()

('4', '12')

In [7]:
quiz.check_answer('1'), quiz.check_answer('2'), quiz.check_answer('3'), quiz.check_answer('4'),

(False, False, False, True)

## Salvataggio dei dati delle partite

In [8]:
player = Player(name='Luca')

In [9]:
player.add_game(game='1', result=(5,10), score=600)
player.add_game(game='2', result=(0,3), score=0)
player.add_game(game='3', result=(5,6), score=700)

In [11]:
player.get_games(), player.total_score()

(['Game 1 correct answers: [5/10], final score: 600',
  'Game 2 correct answers: [0/3], final score: 0',
  'Game 3 correct answers: [5/6], final score: 700'],
 1300)

## Lettura dei file tsv e Pandas

In [12]:
imdb = ImdbTsvReader()

d:\Master\Workspace\Python\cinequiz\models.py:172: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  self.title_basics = pd.read_csv(constant.TITLE_BASICS, sep='\t')

In [15]:
matrix = imdb.get_movie_by_id(id='tt0133093')
matrix

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
95715,95715,tt0133093,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"

In [19]:
tconst = matrix.iloc [0]['tconst']
genre = matrix.iloc [0]['genres'].split(',')[0]
year = matrix.iloc [0]['startYear']

tconst, genre, year

('tt0133093', 'Action', '1999')

In [21]:
wrong_answers = imdb.get_duration_by_difficulty(difficulty='HARD',
                                                different_from=tconst,
                                                genre=genre,
                                                year=year)
wrong_answers

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
134490,134490,tt0206067,movie,Kachche Dhaage,Kachche Dhaage,0,1999,\N,144,"Action,Drama,Thriller"
141892,141892,tt0220757,movie,Shool,Shool,0,1999,\N,138,"Action,Crime,Drama"
171594,171594,tt0281122,movie,"Ready, Willing & Able","Ready, Willing & Able",0,1999,\N,81,"Action,Drama,Thriller"